@import url(./vendor/normalize.css);
@import url(./blocks/page.css);
@import url(./blocks/nav.css);
@import url(./blocks/footer.css);
@import url(./blocks/productItem/productItem.css);

* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
}
#container {
  margin: 0 auto;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, auto));
  grid-auto-flow: dense;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}
.box {
  width: 100%;
  min-width: 100px;
  min-height: 100px;
  height: 100%;
  border: 2px solid black;
  resize: both;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box:nth-child(1) {
  background: rgba(0, 255, 0, 0.5);
}
.box:nth-child(2) {
  background: rgba(255, 255, 0, 0.5);
}
.box:nth-child(3) {
  background: rgba(255, 0, 0, 0.5);
}
.box:nth-child(4) {
  background: rgba(0, 0, 255, 0.5);
}

.box--small{
  width: 100%;
  min-width: 100px;
  min-height: 100px;
  height: 100%;
  border: 2px solid black;
  resize: both;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.box--small:nth-child(1) {
  background: rgba(0, 255, 0, 0.5);
}
.box--small:nth-child(2) {
  background: rgba(255, 255, 0, 0.5);
}
.box--small:nth-child(3) {
  background: rgba(255, 0, 0, 0.5);
}
.box--small:nth-child(4) {
  background: rgba(0, 0, 255, 0.5);
}